.App {
  text-align: center;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 95vw;
  margin: auto;
} 

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.appbar {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: none;
  justify-content: center;
}

@keyframes Gradient { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    text-align: center;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    z-index: 10; 
    border-radius: 0px !important;
}

#start{
    background: linear-gradient(270deg, #0bdb96, #ffffff);
    background-size: 200% 200%;
    animation: Gradient 15s ease infinite;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
}

#search-card {
  margin-top: 20px;
  padding: 20px;
  width: fit-content;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.custom-card {
  border-radius: 10px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 15px;
}

.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  max-width: 95vw;
}